@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

html {
	display: table;
	font-family: Garamond, Georgia, serif;
	font-weight: 300;
	height: 100%;
	width: 100%;
}

body {
	display: table-cell;
	vertical-align: middle;
	background-repeat: repeat;
}

.no-csstransforms3d {
	.dm-cc-front, .dm-cc-back {
		/*
		 *filter:
		 *    progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=1),
		 *    progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=45,strength=3),
		 *    progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=3),
		 *    progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=3),
		 *    progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=180,strength=3),
		 *    progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=225,strength=3),
		 *    progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=270,strength=3),
		 *    progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=315,strength=3);
		 */
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=1)progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=45,strength=3)progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=3)progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=3)progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=180,strength=3)progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=225,strength=3)progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=270,strength=3)progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=315,strength=3);
		}

		#dm-cc-flipper { 
			.dm-cc-front { display:block; }
			.dm-cc-back { display:none; }

			&.flipped {
				.dm-cc-front { display:none; }
				.dm-cc-back { display:block; }
			}
		}
	}

	.csstransforms3d {
		.dm-cc-container { }

		#dm-cc-flipper {
			.dm-cc-back {
				transition: 0.4s; 
				transform: rotateY(180deg);
				transform-origin: left center; 
			}
			.dm-cc-front {
				transition: 0.4s; 
				transform-origin: right center; 
				transform: rotateY(0deg);
			}
			&.flipped {
				.dm-cc-back {
					transition: 0.4s; 
					transform-origin: right center; 
					transform: rotateY(0deg);
				}
				.dm-cc-front {
					transition: 0.4s; 
					transform-origin: left center; 
					transform: rotateY(180deg);
				}
			}
		}

		.dm-cc-front, .dm-cc-back {
			box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);

			backface-visibility: hidden;
		}
	}

	.dm-cc-container {
		width: 420px;
		height: 250px;
		margin: 40px auto;
		position: relative;

		&:before, &:after {
			content:"";
			position:absolute;
			z-index:-1;
			top:0;
			bottom:0;
			left:20px;
			right:20px;
		}

		@media only screen and 
		(min-device-width : 320px) and 
		(max-device-width : 480px) {
			width: 75mm;
			height: 75mm;
			padding:0;
			margin: auto;
		}
	}

	.dm-cc-front {
		cursor: pointer;
	}

	.dm-cc-front, .dm-cc-back {
		width: 420px;
		height: 250px;

		position: absolute;
		text-align: center;
		background-color: white;

		@media only screen and 
		(min-device-width : 320px) and 
		(max-device-width : 480px) {
			padding-top:5mm;
			width: 75mm;
			height: 75mm;
			/*margin:auto;*/
		}
	}

	p.muted {
		padding-top:5px;
		font-size:0.95em;
		margin:0;
		color:gray;
		a {
			color:gray;
			@media only screen and 
			(min-device-width : 320px) and 
			(max-device-width : 480px) {
				font-size:0.95em;
			}
		}
	}

	h2 {
		@media only screen and 
		(min-device-width : 320px) and 
		(max-device-width : 480px) {
			margin-top:0px;
		}
	}

	h2, h4 {
		font-family:Garamond, Georgia, serif;
		color:gray;
	}

	table {
		margin: 0 auto;
		color:gray;

		.right-align {
			text-align:right;
		}

		.left-align {
			text-align:left;
		}

		td { 
			padding:4px;
		}
	}

	.flip-icon  {
		.dm-cc-front & {
			text-align:right;
			margin-top:-15px;
			margin-right:5px;
			@media only screen and 
			(min-device-width : 320px) and 
			(max-device-width : 480px) {
				margin-top:5px;
			}
		}

		.dm-cc-back & {
			text-align:left;
			margin-left:5px;
		}

		a {
			color:gray;
			text-decoration:none;
		}
	}
